$text: #020a0d;
$background: #ade4ff;
$primary-button: #f1f0ff;
$secondary-button: #99ff85;
$accent: #3ab6df;

.App {
	text-align: center;

	background-color: $background;
	min-height: 100vh;
	min-width: 100vw;
}

.App-header {
	min-height: 10vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.4rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.35);
	#App-title {
		margin-bottom: 0.25rem;
		text-decoration: underline;
	}
	#App-description {
		margin-top: 0.25rem;
	}
	margin-bottom: 2.5vh;
}

$bodyFontSize: 1.2rem;

body {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	//grid-auto-rows: minmax(0, 1fr);
	grid-auto-rows: minmax(0, 15vh);
	min-height: 60vh;
	.current-wrapper {
		grid-row: span 3;
		grid-column-start: 2;
		grid-column-end: 7;
		.input-component {
			// Maybe change to relative value later?
			border-radius: 40px;
		}
	}
}

p {
	font-size: $bodyFontSize;
	margin: calc($bodyFontSize/2);

	color: black;
}

button {
	font-size: $bodyFontSize;
	padding: calc($bodyFontSize/2);
	margin: calc($bodyFontSize/2);

	

	border-radius: calc($bodyFontSize/1.5);

	background-color: $primary-button;
	transition: background-color 0.3s ease-in;

	&:hover:enabled {
		background-color: $secondary-button;
		transition: background-color 0.3s ease-in;
		cursor: pointer;
	}
}

.submit-button {
	height: 15vh;
	width: calc(100vw * 2/7);
}